<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>meishi.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>dianying.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>jiudian.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>waimai.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>KYV</string>
		<key>image</key>
		<string>ktv.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>储值卡</string>
		<key>image</key>
		<string>chongzhika.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>到店付</string>
		<key>image</key>
		<string>xiangcai.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>代金券</string>
		<key>image</key>
		<string>daijinquan.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>lvyou.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>机票</string>
		<key>image</key>
		<string>kaoroukaoxiang.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>婚纱摄影</string>
		<key>image</key>
		<string>hunshasheying.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>蛋糕</string>
		<key>image</key>
		<string>dangao.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>干锅香锅</string>
		<key>image</key>
		<string>ganguoxiangguo.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>个性写真</string>
		<key>image</key>
		<string>gexingxieheng.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>韩国料理</string>
		<key>image</key>
		<string>hanguoliaoli.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>丽人</string>
		<key>image</key>
		<string>lireng.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>甜点饮品</string>
		<key>image</key>
		<string>tiandianyingping.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>洗衣</string>
		<key>image</key>
		<string>xiyi.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>游乐园</string>
		<key>image</key>
		<string>youleyuan.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>浙江菜</string>
		<key>image</key>
		<string>zhejiangcai.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>image</key>
		<string>icon_homepage_hotelCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>早餐</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>image</key>
		<string>icon_homepage_foodCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>image</key>
		<string>icon_homepage_movieCategory.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>外卖</string>
		<key>image</key>
		<string>icon_homepage_takeoutCategory.png</string>
	</dict>
</array>
</plist>
