<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>章鱼丸.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>章鱼团.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F72B9161CC64C420037634D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F918C911C8968FB002D73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F918CAD1C8968FB002D73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F918CB81C8968FB002D73FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
