<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>1</integer>
	<dict>
		<key>array</key>
		<array>
			<string>全城</string>
			<string>银泰</string>
			<string>城市广场</string>
			<string>世贸</string>
			<string>笛扬路</string>
			<string>城东</string>
			<string>城南</string>
			<string>人民路</string>
			<string>柯桥万达广场</string>
		</array>
		<key>name</key>
		<string>全城热门</string>
		<key>title</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全城</string>
			<string>500m</string>
			<string>1km</string>
			<string>3km</string>
			<string>5km</string>
		</array>
		<key>name</key>
		<string>附近</string>
		<key>title</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全部</string>
			<string>上虞市</string>
		</array>
		<key>name</key>
		<string>上虞区</string>
		<key>title</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全部</string>
			<string>达利广场</string>
			<string>新昌县</string>
			<string>玫瑰大道</string>
		</array>
		<key>name</key>
		<string>新昌县</string>
		<key>title</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全部</string>
			<string>笛扬路</string>
			<string>兴越路</string>
			<string>万达广场</string>
			<string>金柯桥大道</string>
			<string>小马路</string>
			<string>湖西路</string>
			<string>鉴湖路</string>
			<string>育才路</string>
			<string>柯华路</string>
			<string>湖中路</string>
			<string>柯岩风景区</string>
			<string>世贸中心</string>
			<string>滨海工业区</string>
		</array>
		<key>name</key>
		<string>柯桥区</string>
		<key>title</key>
		<integer>658</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全部</string>
			<string>诸暨市</string>
			<string>环城东路</string>
		</array>
		<key>name</key>
		<string>诸暨市</string>
		<key>title</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>array</key>
		<array>
			<string>全部</string>
			<string>银泰</string>
			<string>城市广场</string>
			<string>城南</string>
			<string>人民路</string>
			<string>城东</string>
			<string>世贸</string>
			<string>袍江</string>
			<string>文理学院</string>
			<string>大校场</string>
			<string>书圣故里</string>
		</array>
		<key>name</key>
		<string>越城区</string>
		<key>title</key>
		<integer>1549</integer>
	</dict>
</array>
</plist>
