<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0</integer>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>全部</string>
		<key>title</key>
		<string>2921</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>小吃快餐</string>
		<key>title</key>
		<string>1214</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>代金券</string>
		<key>title</key>
		<string>754</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>蛋糕</string>
		<key>title</key>
		<string>370</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>江浙菜</string>
		<key>title</key>
		<string>141</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>火锅</string>
		<key>title</key>
		<string>81</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>西餐</string>
		<key>title</key>
		<string>56</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>自助</string>
		<key>title</key>
		<string>33</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>西北菜</string>
		<key>title</key>
		<string>2</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>披萨</string>
		<key>title</key>
		<string>15</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>川菜</string>
		<key>title</key>
		<string>12</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>日本料理</string>
		<key>title</key>
		<string>17</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>东北菜</string>
		<key>title</key>
		<string>7</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>东南亚菜</string>
		<key>title</key>
		<string>4</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>素食</string>
		<key>title</key>
		<string>0</string>
	</dict>
</array>
</plist>
