<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>3</integer>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>不限</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>储值卡</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>带金券</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>单人餐</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>双人餐</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>3～4人餐</string>
		<key>title</key>
		<string>0</string>
	</dict>
	<dict>
		<key>array</key>
		<array/>
		<key>name</key>
		<string>5～10人餐</string>
		<key>title</key>
		<string>0</string>
	</dict>
</array>
</plist>
